global:
  scrape_interval: 5s
  evaluation_interval: 5s

scrape_configs:

  # Scrape Prometheus itself
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  # Scrape your Python RRM exporter
  - job_name: 'policy_engine_rrm'
    static_configs:
      - targets: ['localhost:8000']
